header {
    background-image: url(https://fontmeme.com/permalink/181213/480e7ca2290e6a70b14cd698a3aa1b5c.png);
    background-size: cover;
    padding: 80px;
    border-left: solid rgb(244, 248, 0) 2px;
    border-right: solid rgb(244, 248, 0) 2px;
    border-top: solid rgb(244, 248, 0) 2px;
}

h1 {
    font-size: 60px;
    padding: 0px;
    color: white;
}

hr {
    margin-bottom: 0px;
    border: solid rgb(244, 248, 0) 1.5px;
}

.chooseChar {
    background-image: url(https://binaryfortressdownloads.com/Download/WPF/Images/17776/WallpaperFusion-mass-effect-citadel-1680x480.jpg);
    padding-top: 20px;
    padding-bottom: 35px; 
    border: solid rgb(244, 248, 0) 2px;
}

.fighterRow {
    margin-left: 100px;
}

.charImg {
    margin-right: 40px;
    border-bottom: solid rgb(244, 248, 0) 2px;
    border-top: solid rgb(244, 248, 0) 2px;
}

.chooseEnemy {
    
    background-image: url(https://vignette.wikia.nocookie.net/phineasandferb/images/5/55/DeathStarPFStarWars.png/revision/latest?cb=20140628170900);
    border-left: solid rgb(244, 248, 0) 2px;
    border-right: solid rgb(244, 248, 0) 2px;
    border-bottom: solid rgb(244, 248, 0) 2px;
   
}

.enemyRow {
    margin-left: 230px;
}

.enemyRow .charCard {
    margin-right: 40px;
    margin-bottom: 20px;
}

.charCard {
    display: inline-block;
    border: solid rgb(244, 248, 0) 2px;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
}

.charName {
    font-size: 25px;
    background-color: rgb(44, 173, 224);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
    text-align: center;
    width: 300px;
}

.health, .attack {
    background-color: rgb(44, 173, 224);
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
    text-align: center;
    width: 300px;
}

.attack {
    margin-top: 0px;
}

.enemyRow .health, .enemyRow .charName, .enemyRow .attack {
    background-color:  red;
}

#opponent .health, #opponent .charName, #opponent .attack {
    background-color:  red;
}

.fightArena {
    background-image: url(https://i.gifer.com/G0mZ.gif);
    background-size: cover;
    border-left: solid rgb(244, 248, 0) 2px;
    border-right: solid rgb(244, 248, 0) 2px;
    border-bottom: solid rgb(244, 248, 0) 2px;
}

.prompt {
    font-size: 60px;
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    color: rgb(244, 248, 0);
}

.fightBox {
    position: relative;
    width: 400px;
    height: 400px;
    display:inline-block;
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: 40px;
    vertical-align: top;
    top: 20px;
}

.fightBox .charCard {
    margin-top: 0px;
    margin-left: 50px;
}

#attackButton {
    position: absolute;
    top: 35%;
    left: 26%;
    background-color: rgb(244, 248, 0);
    font-size: 40px;
    border: groove black 3px;
}

.defeated {
    font-size: 40px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Bungee Inline', cursive;
    color: rgb(244, 248, 0);
}

.deadOpponent .charCard {
    position: relative;
    top: -20px;
    left: 230px;
}

.deadOpponent {
    background-image: url(http://dualmonitorswallpaper.com/wp-content/uploads/2018/02/star-wars-the-force-awakens-dual-monitor-background-1.jpg);
    background-size: cover;
    padding-bottom: 20px;
}

.deadOpponent .health, .deadOpponent .charName, .deadOpponent .attack, .deadOpponent .charImg {
    background-color: gray;
    opacity: .5;
}

.deadOpponent {
    display: inline-block;
    border: solid black 1px;
    width: 100%;
    height: 400px;
    font-size: 40px;
}

#restartButton {
    position: absolute;
    margin-top: 20px;
    left: 47.8%;
    margin-bottom: 20px;
}

.footer {
    height: 100px;
    background-image: url(https://vignette.wikia.nocookie.net/phineasandferb/images/5/55/DeathStarPFStarWars.png/revision/latest?cb=20140628170900);
    background-size: cover;
}